body {
  font-family: sans-serif;
  overflow: scroll;
}

@supports (-moz-appearance: none) {
  #message-input {
    padding-right: 100%;
  }
}

input, select {
  max-width: 850px !important;
  transition: none !important;
}


.tab:nth-child(1) input:focus:invalid {
  border: 1px solid red;
}

.tab:nth-child(1) input:focus:valid {
  border: 1px solid green !important;
  box-shadow: 0 0 1px 1px green;
}

.tab {
  position: relative;
  display: none;
  overflow: hidden;
  /* opacity: 0; */
  /* transform: translateY(100%); */
  transition: .4s ease-in-out;
}
.tab.active {
  display: block;
  min-width: 85vw;
  min-height: 50vh;
  opacity: 1;
  transform: translateY(0);
}

.cui-control-group h1 {
  font-size: 13px;
  font-weight: 700;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}
